# Xcode
DerivedData/
build/

# User settings
xcuserdata/
*.xcuserstate

# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods (if used later)
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Logs
*.log

# Temporary
*.swp